<section>
  <div class="section-body">
    <form class="form" name="formulario" #form="ngForm" accept-charset="utf-8">

      <af-list-fields [title]="'Usuário'" [component]="this">
        <div fields>
          <div class="row">
            <form-group [columnClass]="'col-sm-6'" [label]="'Usuário'">
              <input class="form-control" type="text" name="username" [(ngModel)]="instance.username" input>
            </form-group>
          </div>
        </div>
      </af-list-fields>

      <af-data-table>
        <thead class="style-default-dark" header>
        <tr>
          <th class="text-left">Usuário</th>
          <th class="text-left">Papel</th>
          <th class="text-left">Email</th>
          <th class="text-left">Ativo</th>
          <th class="text-left" style="width: 5%;"></th>
          <th class="text-left" style="width: 5%;"></th>
          <th class="text-left" style="width: 5%;"></th>
          <th class="text-left" style="width: 5%;"></th>
        </tr>
        </thead>
        '
        <tbody body>
        <tr *ngFor="let entity of resultList">
          <td>{{entity.username}}</td>
          <td><span *ngFor="let role of entity.roles; let last = last">{{last ? role.code : role.code + ', '}}</span></td>
          <td>{{entity.email}}</td>
          <td>{{entity.active ? 'Sim' : 'Não'}}</td>
          <td><i class="fa fa-search" (click)="prepareView(entity.id)" data-toggle="tooltip" title="Visualizar"
                 style="width:18px; height: 18px; cursor: pointer;"></i></td>
          <td><i class="fa fa-edit" (click)="prepareUpdate(entity.id)" data-toggle="tooltip" title="Editar"
                 style="width:18px; height: 18px; cursor: pointer;"></i></td>
          <td>
            <i class="fa fa-remove" title="Excluir" data-toggle="modal" [attr.data-target]="'#dialogExclusao' + entity.id"
               style="width:18px; height: 18px; cursor: pointer;"></i>
            <af-dialog [id]="'dialogExclusao' + entity.id" (onClose)="delete(entity.id)"
                       [title]="'Exclusão'" [message]="'Deseja excluir o registro selecionado?'"></af-dialog>
          </td>
          <td><i class="fa fa-key" title="Resetar Senha" data-toggle="modal" [attr.data-target]="'#dialogResetPassword' + entity.id"
                 style="width:18px; height: 18px; cursor: pointer;"></i>
            <af-dialog [id]="'dialogResetPassword' + entity.id" (onClose)="resetPassword(entity)"
                       [title]="'Resetar Senha'" [message]="'Deseja resetar a senha do usuário selecionado?'"></af-dialog>
          </td>
        </tr>
        </tbody>
      </af-data-table>
    </form>
  </div>
</section>
