<div class="row">
  <div class="col-lg-12">
    <div class="card card-underline" [ngClass]="component == null ? 'card-outlined style-primary' : ''">
      <div class="card-head card-head-sm">
        <header><b>{{label}}</b></header>
        <div class="tools" *ngIf="headerTools">
          <div class="btn-group">
            <a class="btn btn-icon-toggle btn-refresh"
               data-toggle="tooltip" title="Limpar"
               (click)="component.clearInstance()"><i class="fa fa-refresh"></i></a>
            <a [routerLink]="baseRoute" class="btn btn-icon-toggle btn-close"
               data-toggle="tooltip" title="Retornar"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>

      <div class="card-body" style="display: block;">
        <ng-content select=[body]></ng-content>
      </div>

      <div class="card-actionbar">
        <div class="card-actionbar-row">
          <ng-content select=[actionbar]></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
