<section>
  <div class="section-body">
    <form class="form" name="formulario" #form="ngForm" accept-charset="utf-8" (ngSubmit)="resetPassword()">
      <card [label]="'Alterar Senha'" [headerTools]="true" [baseRoute]="'/'" [component]="this">
        <div body>
          <b>Os campos com * são obrigatórios</b>
          <card [label]="'Dados Gerais'">
            <div body>
              <div class="row">
                <form-group [columnClass]="'col-sm-6'" [label]="'Senha'" [input]="password">
                  <input class="form-control" type="password" name="password" [(ngModel)]="instance.newPassword"
                         #password="ngModel" input required>
                </form-group>
                <form-group [columnClass]="'col-sm-6'" [label]="'Confirmar Senha'" [input]="confirmPasswordReference">
                  <input class="form-control" type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
                         #confirmPasswordReference="ngModel" input required>
                </form-group>
              </div>
            </div>
          </card>
        </div>

        <div actionbar>
          <button type="submit" class="btn ink-reaction btn-raised btn-success" accesskey="C">
            Salvar
          </button>

          <a class="btn ink-reaction btn-flat btn-default" accesskey="V" [routerLink]="'/'">
            Cancelar
          </a>
        </div>

      </card>
    </form>
  </div>
</section>
