<section>
  <div class="section-body">
    <form class="form" name="formulario" #form="ngForm" accept-charset="utf-8" (ngSubmit)="persist()">

      <af-edit-fields [title]="'Parcela'" [baseRoute]="'/parcelas'" [component]="this">
        <div fields>
          <card [label]="'Dados Gerais'">
            <div body>
              <div class="row">
                <form-group [columnClass]="'col-sm-2'" [label]="'Número'">
                  <input class="form-control" type="text" name="numero" [(ngModel)]="instance.numero" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Dt. Vencimento'">
                  <input class="form-control" type="text" name="vencimento"
                         [ngModel]="instance.dataDeVencimento | date: 'dd/MM/yyyy'"
                         (ngModelChange)="instance.dataDeVencimento=$event" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Valor'">
                  <input class="form-control" type="text" name="valor" [(ngModel)]="instance.valor" currencyMask
                         [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" #valor="ngModel" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Dt. Pagamento'">
                  <input class="form-control" type="text" name="pagamento"
                         [ngModel]="instance.dataDoPagamento | date: 'dd/MM/yyyy'"
                         (ngModelChange)="instance.dataDoPagamento=$event" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Dt. Prorrogação'">
                  <input class="form-control" type="text" name="prorrogacao"
                         [ngModel]="instance.dataDeProrrogacao | date: 'dd/MM/yyyy'"
                         (ngModelChange)="instance.dataDeProrrogacao=$event" input readonly>
                </form-group>
              </div>
              <div class="row">
                <form-group [columnClass]="'col-sm-12'" [label]="'Histórico'">
                        <textarea class="form-control" type="text" name="historico" rows="5"
                                  [(ngModel)]="instance.historico" input></textarea>
                </form-group>
              </div>
            </div>
          </card>

          <card [label]="'Dados da Operação'" *ngIf="operacao != null">
            <div body>
              <div class="row">
                <form-group [columnClass]="'col-sm-2'" [label]="'Operação'">
                  <input class="form-control" type="text" name="numero" [(ngModel)]="operacao.id" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Data'">
                  <input class="form-control" type="text" name="data"
                         [ngModel]="operacao.data | date: 'dd/MM/yyyy'"
                         (ngModelChange)="operacao.data=$event" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Valor'" [input]="valor">
                  <input class="form-control" type="text" name="valor" [(ngModel)]="operacao.valor" currencyMask
                         [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" #valor="ngModel" input required>
                </form-group>

                <form-group [columnClass]="'col-sm-4'" [label]="'Cliente'">
                  <input class="form-control" type="text" name="cliente" [(ngModel)]="operacao.cliente.pessoa.nome"
                         input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Taxa(%)'" [input]="taxa">
                  <input class="form-control" type="text" name="taxa" [(ngModel)]="operacao.taxa"
                         #taxa="ngModel" input required>
                </form-group>
              </div>

              <div class="row">

                <form-group [columnClass]="'col-sm-2'" [label]="'Parcelas'">
                  <input class="form-control" type="text" name="parcelas" [(ngModel)]="operacao.quantidadeDeParcelas"
                         input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Tipo de Pagamento'">
                  <input class="form-control" type="text" name="tipoDePagamento" [(ngModel)]="operacao.tipoDePagamento"
                         input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Tipo de Operação'">
                  <input class="form-control" type="text" name="tipoDeOperacao" [(ngModel)]="operacao.tipoDeOperacao"
                         input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-4'" [label]="'Investidor Sênior'">
                  <input class="form-control" type="text" name="investidorSenior"
                         [(ngModel)]="operacao.investidorSenior.pessoa.nome" input readonly>
                </form-group>

                <form-group [columnClass]="'col-sm-2'" [label]="'Taxa Repasse(%)'">
                  <input class="form-control" type="text" name="taxaDeRepasse" [(ngModel)]="operacao.taxaDeRepasse"
                         input readonly>
                </form-group>
              </div>
            </div>
          </card>

        </div>
      </af-edit-fields>

    </form>
  </div>
</section>
