<div class="offcanvas" style="height: 100%">
  <div class="offcanvas-pane width-12 style-default-light" style="width: 1200px" id="offcanvas-view">
    <div class="offcanvas-head" style="margin-bottom: 40px;">
      <header><span id="offcanvas-title"></span></header>
      <div class="offcanvas-tools">
        <a class="btn btn-icon-toggle btn-default pull-right hasOffcanvas" data-dismiss="offcanvas">
          <i class="md md-close"></i>
        </a>
      </div>
    </div>
    <div id="content-view" class="offcanvas-body">
      Body
    </div>
  </div>
</div>
